<% content_for :bodycol do %>

  <center>
    <div style="width: 85%; margin: 0 auto;">
      <div style="text-align: left;">
        <img src="/images/surveys/synapse/fbm/arrow.gif" alt="" style="vertical-align: bottom;" />
        <h2 style="margin-left: 15px;">FreeBizMag Customer Survey</h2>
        <div style="margin: 10px 0 25px 38px;">
          Thank you for taking this brief survey. Your feedback will help us to serve you better. Please enter your email address below to get started. At the end of the survey you will receive a special reward opportunity!
          <% if flash[:errors] && flash[:errors].size > 0 %>
            <div class="color: #f00; font-weight: bold; margin-top: 15px; ">
              Please complete all required fields.
            </div>
          <% end %>
        </div>
      </div>
    </div>
   
     <% form_tag('/surveys/' + @survey.id.to_s + '/start') do -%>
      <table>
        <tr class="missed">
          <td><label for="user[email]">Email Address</label></td>
          <td style="text-align: right;"><input type="text" name="user[email]" /></td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: right; padding-top: 20px;">
            <input type="image" src="/images/surveys/synapse/fbm/button_next.gif" alt="Next" style="border: 0;" />
          </td>
        </tr>
      </table>
    <% end -%>
  </center>
<% end %>
