
<a href='javascript:void(0);' onClick='createirfame();' style='position: absolute; outline: none; text-decoration: none; <%= @widget.location %> position: fixed;'>
  <img src="http://www.thetoyman.com/images/animated_plus_blue.gif" alt="" />
</a>
