<%= javascript_include_tag ['jquery-1.6.1']   %>


<!--<STYLE>
iframe {height:expression(frames("offer_iframe").document.body.scrollheight + 25);}
</STYLE>-->

    <div class="offer_page" style="font-family: verdana; padding: 8px;">
      <p style='float: left; font-size: 14px; font-weight:bold;'>
        View a great offer from a trusted partner to<br /> see a full result.<br /><br />
        <%#= image_tag("share.jpg", :class => "share_quiz") %>
      </p>
      <a href='javascript:TINY.box.hide();' class="no-thanks">
        No Thanks&nbsp;<img src='/images/offer-cross.png' style="vertical-align: middle;" />
      </a>
      <%
        offer_url = @facebook_quiz.offer_url
        height = "#{@facebook_quiz.height}px"
      %>
      <iframe id="offer_iframe" src='<%= offer_url %>' width="100%" height='<%= height %>' scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0"></iframe>
      <!--<iframe src="<%#= @facebook_quiz.offer_url %>" width="100%" height="<%#= "#{@facebook_quiz.height}px" %>" id="offer_iframe"
              scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0">
      </iframe>-->

      <br />
      <p style="text-align: center; margin-top: 20px;">
        <a href="#">Skip to next offer</a>
        <%= link_to image_tag("accept-offer.gif", :style => "vertical-align: middle;"), "#"  %>
      </p>
      <p>
        &nbsp;
      </p>
    </div>

