<%= stylesheet_link_tag "ColorPicker" %>
<script type="text/javascript">
  dojo.require("dojox.widget.ColorPicker");
  dojo.require("dojo.parser");

  </script>


All fields are required
<div>
  <%= render :partial => "form" %>
</div>