<!--<div id="category-menu-<%= params[ :id ]%>" style="margin-left: 10px;">
  <%#= link_to_remote "Edit Category Information", { :url => edit_publishers_quiz_category_path( :id => params[ :id ] ), :update => "category-#{params[ :id ]}-form" , :method => :get } %> |
  <%#= link_to_remote "Add Lead Question", { :url => new_publishers_quiz_lead_question_path( :quiz_category_id => params[ :id ] ), :update => "category-#{params[ :id ]}-form" , :method => :get } %>
</div>-->
<div id="category-<%= params[ :id ] %>-form"></div>
<div id="cat-<%= @quiz_category.id %>-questions-workspace">
  <%#= render :file => '/publishers/quiz_lead_questions/index.js.erb' %>
</div>