<form action="/quizzes/open/a3c05a20e811012cf94e0023dfaadd9c" method="POST">
    <div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value="d6ueiHvMGAX8T1gWSR1nvpP6Fniny9uc7mwjRZq7b/c=" /></div>


    <input type="hidden" name="qid" value="3" />
<input type="hidden" name="user_id" value="" />
<input type="hidden" name="format" value="xml" />
<input type="hidden" name="qiid" value="a3c05a20e811012cf94e0023dfaadd9c" />


<input type="hidden" name="ppos" value="1" />

Do you have specific goals in your personal and professional life?<br/>

  <input type="radio" name="questions[17]" id="46" value="46" >

  <label for="46">Yes</label>
  <br />

  <input type="radio" name="questions[17]" id="47" value="47" >
  <label for="47">Somewhat</label>
  <br />

  <input type="radio" name="questions[17]" id="48" value="48" >
  <label for="48">Not Really</label>

  <br />

<br />

Do you have the ability to concentrate for extended periods of time?<br/>

  <input type="radio" name="questions[18]" id="49" value="49" >
  <label for="49">Yes</label>
  <br />

  <input type="radio" name="questions[18]" id="50" value="50" >

  <label for="50">Occasionally</label>
  <br />

  <input type="radio" name="questions[18]" id="51" value="51" >
  <label for="51">Rarely</label>
  <br />

<br />

Do you believe it is possible to change?<br/>

  <input type="radio" name="questions[19]" id="52" value="52" >
  <label for="52">Yes</label>
  <br />


  <input type="radio" name="questions[19]" id="53" value="53" >
  <label for="53">Sometimes</label>
  <br />


  <input type="radio" name="questions[19]" id="54" value="54" >
  <label for="54">Rarely</label>

  <br />

<br />

  <input type="hidden" id="back" name="back" value="0" />
  <!--<input name="commit" onclick="$('back').value = '1'" type="submit" value="Back" />
  <input type="reset" name="clear" value="Clear" />-->
  <input type="submit" name="submit" value="Next" />
</form>
